.top_nav {
    width: 100%;
    height: 160px;
    position: relative;
}
.top_nav section .logo_container {
    position: absolute;
    float: left;
    width: 46%;
    height: 120px;
    margin-left: 1.5%;
    margin-top: 35px;
}
.logo_container a img {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
}
.top_nav section .search_container {

    display: inline-block;
    float: right;
    width: 46%;
    height: 150px;
    margin-right: 1.5%;
    margin-top: 5px;
}
.top_nav section .search_container>form label {
    display: block;
}
.top_nav section .search_container>form label input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 0.18em;
    cursor: pointer;
    border-radius: 12px;
}
.top_nav section .search_container>form label .search_window {
    opacity: 0.5;
    font-size: 17px;
    color: gray;
    border-bottom: 3px solid #e5399e;
}
.top_nav section .search_container>form label .search_window:focus {
    outline: none;
    font-size: 20px;
    color: #2a2226;
}
.top_nav section .search_container>form label .button_search {
    background: #ffd4ed;
    color: #2a2226;
    opacity: 0.8;
    border: 1px solid #e5399e;
}
.top_nav section .search_container>form label .button_search:hover {
    background: #ffffff;
    border: 4px solid #e5399e;
    font-weight: 600;
}
.separator {
    position: relative;
    width: 100%;
    height: 25px;
}
.separator img {
    width: 100%;
    height: 19px;
    color: #2a2226;
    opacity: 0.1;

}
.main_container {
    width: 100%;
    height: 470px;
    position: relative;
}
section .map_container {
    float: right;
    width: 47%;
    height: 470px;
}
#map {
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 12px;
    width: 96%;
    height: 420px;
    border: 1px solid #e5399e;
}
section .result_container {
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 12px;
    float: left;
    width: 47%;
    height: 420px;
    border: 1px solid #e5399e;
}
footer .footer_container {
    float: left;
    width: 100%;
    height: 70px;
    background-color: #e5399e;
}
