@media only screen and (max-width: 321px) {
    .top_nav section .logo_container {
        position: absolute;
        float: left;
        width: 95%;
        height: 120px;
        margin-left: 1.5%;
        margin-right: 1.5%;
        margin-top: 10px;
    }
    .top_nav section .search_container {
        display: inline-block;
        float: left;
        width: 95%;
        height: 150px;
        margin-left: 1.5%;
        margin-right: 1.5%;
        margin-top: 40px;
    }
    .top_nav section .search_container>form label .search_window {
        opacity: 0.5;
        font-size: 12px;
        color: gray;
        border-bottom: 2px solid #e5399e;
    }
    .top_nav section .search_container>form label .search_window:focus {
        font-size: 15px;
    }
    section .map_container {
        float: right;
        width: 100%;
        height: 370px;
    }
    #map {
        border-radius: 12px;
        width: 100%;
        height: 320px;
        border: 1px solid #e5399e;
    }
    section .result_container {
        margin-top: 5px;
        border-radius: 12px;
        float: right;
        width: 100%;
        height: 220px;
        border: 1px solid #e5399e;
    }
    .separator {
        display: none;
    }
}
@media only screen and (max-width: 450px) {
    .top_nav section .logo_container {
        position: absolute;
        float: left;
        width: 95%;
        height: 120px;
        margin-left: 1.5%;
        margin-right: 1.5%;
        margin-top: 10px;
    }
    .top_nav section .search_container {
        display: inline-block;
        float: left;
        width: 95%;
        height: 150px;
        margin-left: 1.5%;
        margin-right: 1.5%;
        margin-top: 50px;
    }
    .top_nav section .search_container>form label .search_window {
        opacity: 0.5;
        font-size: 12px;
        color: gray;
        border-bottom: 2px solid #e5399e;
    }
    .top_nav section .search_container>form label .search_window:focus {
        font-size: 15px;
    }
    section .map_container {
        float: right;
        width: 100%;
        height: 370px;
    }
    #map {
        border-radius: 12px;
        width: 100%;
        height: 320px;
        border: 1px solid #e5399e;
    }
    section .result_container {
        margin-top: 5px;
        border-radius: 12px;
        float: right;
        width: 100%;
        height: 220px;
        border: 1px solid #e5399e;
    }
    .separator {
        display: none;
    }
}
@media only screen and (max-width: 520px) {
    .top_nav section .logo_container {
        position: absolute;
        float: left;
        width: 95%;
        height: 120px;
        margin-left: 1.5%;
        margin-right: 1.5%;
        margin-top: 10px;
    }
    .top_nav section .search_container {
        display: inline-block;
        float: left;
        width: 95%;
        height: 150px;
        margin-left: 1.5%;
        margin-right: 1.5%;
        margin-top: 50px;
    }
    .top_nav section .search_container>form label .search_window {
        opacity: 0.5;
        font-size: 12px;
        color: gray;
        border-bottom: 2px solid #e5399e;
    }
    .top_nav section .search_container>form label .search_window:focus {
        font-size: 15px;
    }
    section .map_container {
        float: right;
        width: 100%;
        height: 370px;
    }
    #map {
        border-radius: 12px;
        width: 100%;
        height: 320px;
        border: 1px solid #e5399e;
    }
    section .result_container {
        margin-top: 5px;
        border-radius: 12px;
        float: right;
        width: 100%;
        height: 220px;
        border: 1px solid #e5399e;
    }
    .separator {
        display: none;
    }
}